#navigationbar
{
    
}

.d-block w-33
{
    
}

#carousel
{
    background-color:grey;
    padding:100 px;
}

body
{
    padding-top:56px;
}

#carouselExampleControls
{
    padding-top:50px;
}

.space
{
    padding-top:50px;
}
